node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# macOS
.DS_Store

# auth-data
google-services.json
GoogleService-info.plist
firebase.js
hooks/useAuth.js